.color_fondo_barra_arriba{
    /*background-color: #71b74a;*/ /*verde del logo de la escuela*/
    background-color: #009b80; /*verde del logo de UTM*/
    padding-top:20px;
    padding-bottom:20px;
}

/*.color-arriba-menu{
    background-color:#ff6a00;
    padding-top:20px;
    padding-bottom:20px;
}*/

.letra-blanca{
    color:#ffffff;
}

.decoracio-de-links {
    text-decoration:none;    
}

.letra-tm-24{
    font-size:24px;
}

.letra-tm-32 {
    font-size: 32px;
}

.tm-imagenes{
    width:550px;
    height:550px;
}

.color-footer {
    background: #707070;
}

.tm-footer{
    padding-top:40px;
    padding-bottom:10px;    
}

.tm-img-footer{
    width:300px;
    height:300px;
}

.menu-pegado{
    position:fixed;
    z-index:1000;
    top:0;
}