.color_fondo_barra_arriba{
    /*background-color: #71b74a;*/ /*verde del logo de la escuela*/
    background-color: #009b80; /*verde del logo de UTM*/
    padding-top:20px;
    padding-bottom:20px;
}

.color_barra_usuarios {
    /*background-color: #71b74a;*/ /*verde del logo de la escuela*/
    background-color:#249AFC; /*azu pra resaltar el logo*/
 
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.color-arriba-menu{
    background-color:#ff6a00;
    padding-top:20px;
    padding-bottom:20px;
}*/

.letra-blanca{
    color:#ffffff;
}

.decoracio-de-links {
    text-decoration:none;    
}

.letra-tm-24{
    font-size:24px;
}

.letra-tm-32 {
    font-size: 32px;
}

.tm-imagenes{
    width:550px;
    height:550px;
}

.color-footer {
    background: #707070;
}

.tm-footer{
    padding-top:40px;
    padding-bottom:10px;    
}

.tm-img-footer{
    width:300px;
    height:300px;
}

.cabecera {
    height: 60px;
    background-color: #ffd800;
}

.tamcolmenu {
    height:657px;
    border-right: 1px solid #808080;
}

.menu-pegado{
    position:fixed;
    z-index:1000;
    top:0;
}


.fondo-header-usuario {
    background-color: #71b74a;
    padding-bottom:10px;
}

.color-aside {
    background-color: #a3a3a3;
}

.tm-img-user{
    width:125px;
    height:125px;
}

.abc {
    position:fixed;
    z-index:1000;
    top:0;
}



/*estilo de internet*/

body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0
}

p {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255,255,255,.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    span

{
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}





@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f5f9;
}

.todo-menu {
    display: flex;
    position: relative;
}

    .todo-menu .menu-aside {
        width: 250px;
        height: 100%;
        background: #71b74a; /*#4b4276 color de todo el menu*/
        padding: 30px 0px;
        position: fixed;
    }

        .todo-menu .menu-aside h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .todo-menu .menu-aside .sin-linea-ul .sin-linea-li {
            padding: 15px;
            border-bottom: 1px solid #ffffff; /*#bdb8d7*/
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

        .todo-menu .menu-aside .sin-linea-ul a .sin-linea-li {
            color: #fff; /*#bdb8d7 letra*/
            display: block;
        }

        .todo-menu .menu-aside .sin-linea-ul .sin-linea-li a .fas {
            width: 25px;
        }

        .todo-menu .menu-aside .sin-linea-ul li:hover {
            background-color: #8ABB6F; /*#594f8d o #8E8E8E o #8ABB6F para la sombra de los botones*/
        }

            .todo-menu .menu-aside .sin-linea-ul li:hover a {
                color: #fff;
            }

        .todo-menu .menu-aside .cerrar {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

            .todo-menu .menu-aside .cerrar a {
                display: block;
                width: 40px;
                background: #71b74a;
                height: 40px;
                line-height: 45px;
                text-align: center;
                margin: 0 5px;
                color: #bdb8d7;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

    .todo-menu .main_content {
        width: 100%;
        margin-left: 250px;
    }

        .todo-menu .main_content .header {
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
            position: fixed;
            width: 100%;
        }

        .todo-menu .main_content .info {
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

            .todo-menu .main_content .info div {
                margin-bottom: 20px;
            }

.berde-perfil {
    border: 50px;
}